* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    align-items: center;
    background: linear-gradient(rgb(0, 255, 255), rgb(140, 0, 255));
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    display: flex;
    color: white;
    background-color: grey;
    align-items: flex-end;
}